table{
    margin: auto;
    margin-top:50px;
    border:2px solid red;
}

tbody>tr,thead>tr{
    background-color: antiquewhite;
    letter-spacing: 1px;
    line-height: 30px;
    border:solid;
}
tr>th{
    border:solid 4px;
}
tr>td{
    border:solid 4px;

}

img{
    width: 80px;
    height: 80px;
}


